# Ignore environment files
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore database files
chroma_db/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other temporary files
*.log
*.sqlite3
